.wrapper{
 width: 960px;
 margin: 0 auto;
}
.pagination{
 margin: 0 auto;
}
.pagination ul li{
 float: left;
 padding: 10px;
 list-style: none;
 width: auto;
 margin: 0 auto;
}
.paginacion{
 width: 500px;
 margin: 0 auto;
}
.pagination a, .current, .previous_page, .next_page
{
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
  color: #111;
}
 
.pagination *:first-child {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination *:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.active a{
 color: red;
}
.articulo{
 background: #c40909;
 color: #fff;
 border: 4px solid gray;
 width: 500px;
 text-align: center;
}

input.enlace{
  border:0; 
  background-color:#fff; 
  color:#000; 
  cursor:pointer;
}

#modal {
    display: none;
    position: absolute;
    left: 40%;
    width: 20%;
    height: 25%;
    padding:30px 15px 0px;
    z-index: 1002;
    text-align:center;
    overflow: auto;
}
.button-danger {
  color: #fff;
  background-color: #cc0000;
  border-color: #dc3545;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #cc0000;
  border-color: #cc0000;
}
.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #fff;
  background-color: #cc0000;
}